{{> header title="Puzzles" icon="fa-solid fa-puzzle-piece"}}

<div class="container">
    <div class="row justify-content-end p-2 mb-2">
        <a class="btn btn-success" href="./puzzles-create">Create puzzle</a>
    </div>
    <div class="row justify-content-between text-center p-2 sticky-top bg-dark text-white">
        <p class="h5 p-2 col-1"><i class="fa-solid fa-fingerprint"></i></p>
        <p class="h5 p-2 col-2"><i class="fa-solid fa-person-digging"></i></p>
        <p class="h5 p-2 col-2"><i class="fa-regular fa-file-lines"></i></p>
        <p class="h5 p-2 col-1"><i class="fa-solid fa-play"></i></p>
        <p class="h5 p-2 col-1"><i class="fa-solid fa-stop"></i></p>
        <p class="h5 p-2 col-1"><i class="fa-solid fa-film"></i></p>
        <p class="h5 p-2 col-1"><i class="fa-solid fa-film"></i></p>
        <p class="h5 p-2 col-1"><i class="fa-solid fa-thumbtack"></i></p>
    </div>
    {{#each puzzles}}
    <div class="row justify-content-between text-center border rounded align-items-center mt-2 mb-2 p-2 bg-light">
        <p class="p-2 col-1 btn btn-primary m-0" onclick="copyLink('{{this.id}}')">Copy</p>
        <p class="p-2 col-3 d-none">{{this.id}}</p>
        <p class="p-2 col-2">{{this.puzzleName}}</p>
        <p class="p-2 col-2">{{this.description}}</p>
        <p class="p-2 col-2">{{this.startedAt}}</p>
        <p class="p-2 col-2">{{this.finishedAt}}</p>
        <p class="p-2 col-2">{{this.introVideo}}</p>
        <p class="p-2 col-2">{{this.endVideo}}</p>
        <div class="p-2 col-1 text-center">
            <a href="/switch-task/{{this.id}}" class="{{#if this.status}}
                bg-danger{{else}} bg-success{{/if}} d-inline-block m-0 rounded text-white p-2"
                style="width:30px; height:30px;">
                <i class="d-flex fa-solid fa-toggle-{{#if this.status}}off{{else}}on {{/if}}"></i>
            </a>
        </div>
        <div class="pt-2 pb-2 col-1 text-center m-0">
            <button class="btn-secondary rounded"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    {{else}}
    <div class="row p-2 text-center bg-warning">
        <p class="m-0">Sin puzzles</p>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-success mt-2" href="./puzzles-create">Create puzzle</a>
    </div>
    {{/each}}
</div>
<script>

    function copyLink(id) {
        // Copy the text inside the text field
        navigator.clipboard.writeText(id);

        // Alert the copied text
        alert("Copied the text: " + id);
    }

</script>
{{> footer year=2021}}