<div class="container mt-5">
    {{> header}}
    {{> viewTitle
        icon="task"
        name="Game form"}}
    <form action="create/{{#if game}}{{ game.id }}/{{/if}}sent" method="POST" class="form">
        <div class=" mb-3 row w-100 justify-content-between">
            <label for="name" class="form-label">Name:</label>
            <input 
                type="text" class="form-control"
                id="name" name="name" maxlength="50"
                 {{#if game}} value={{ game.name }} {{/if}}
                required="true" />
        </div>

        <div class="mb-3 mb-3 row w-100 justify-content-between">
            <label for="description" class="form-label">Description:</label>
            <textarea 
                class="form-control" id="description"
                name="description" maxlength="250"
                required="true"
            >{{#if game}}{{ game.description }}{{/if}}</textarea>
        </div>

        <div class="mb-3 mb-3 row w-100 justify-content-between">
            <label for="challange" class="form-label">Challange:</label>
            <textarea 
                class="form-control" id="challange"
                name="challange" maxlength="250"
                required="true"
            >{{#if game}}{{ game.challange }}{{/if}}</textarea>
        </div>

        <div class="mb-3 row w-100 justify-content-between">
            <div class="col mb-3">
                <label for="duration" class="form-label">Duration:</label>
                <input class="form-control" type="number" id="duration" name="duration"
                {{#if game}} value={{ game.duration }} {{/if}}
                required="true" />
            </div>

            <div class="col mb-3">
                <label for="players" class="form-label">Players:</label>
                <input class="form-control" type="number" id="players" name="players" {{#if game}} value={{ game.players }}{{/if}} required="true" />
            </div>
        </div>

        {{#if puzzles}}
        <div class="mb-3 mb-3 row w-100 justify-content-between">
            <label for="puzzles" class="form-label">Select Puzzles:</label>
            <select id="puzzles" name="puzzles" class="custom-select mr-sm-2" multiple>
                {{#each puzzles}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        {{else}}
        <div class="row p-2 bg-warning rounded align-items-middle">
            <p class="m-0 p-0 font-weight-bold">
                <i class="fa-solid fa-triangle-exclamation"></i>
                    No puzzles to add
            </p>
        </div>
        {{/if}}

        <div class="row justify-content-end">
            {{> genericButton
                style="primary"
                entityType=type
                action="/list"
                id=this.id
                icon="fa-arrow-left"
                text="Back to list"}}

             {{#if game}}
                {{> genericButton
                style="danger"
                action="game/delete"
                id=this.id
                icon="fa-trash"
                text="Delete"}}
                {{!-- {{> deleteButton action="./game-delete/{{game.id}}"}} --}}
            {{/if}}
            {{> submitButton entity=game}}
        </div>

    </form>
{{> footer year=2021}}
</div>
