    {{> header}}
    {{> viewTitle
        icon="fa-solid fa-chess-board"
        name="Game form"}}
    <form action="{{#if game}}{{game._id}}/sent{{else}}create/sent{{/if}}" method="POST" class="form">
        {{> dnaInput onlyView=onlyView dna=game.dna}}
        {{> nameAndDescriptionInput Game=game onlyView=onlyView}}
        {{> durationAndPlayersInput Game=game onlyView=onlyView}}

        <div class="row m-0 mb-3 w-100 justify-content-between">
            <div class="col mb-3">
                {{#if game.puzzles}}
                    <label for="puzzles" class="form-label font-weight-bold">Puzzles</label>
                    {{#each puzzles}}
                    <p value="{{_id}}">{{name}}</p>
                    {{/each}}
                {{else}}
                <label for="puzzles" class="form-label font-weight-bold">Associated Puzzles</label>
                <div class="m-1 p-2 bg-warning rounded align-items-middle">
                    <p class="m-0 p-0 font-weight-bold">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                            No puzzles added
                    </p>
                </div>
            {{/if}}
            </div>
            {{#if onlyView}}
            {{else}}
            <div class="col mb-3">
                {{#if puzzles}}
                    <label for="puzzles" class="form-label font-weight-bold">Select Puzzles</label>
                    <select id="puzzles" name="puzzles" class="custom-select mr-sm-2" multiple>
                        {{#each puzzles}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                {{else}}
                    <label for="puzzles" class="form-label font-weight-bold">Select Puzzles</label>
                    <div class="m-1 p-2 bg-warning rounded align-items-middle">
                        <p class="m-0 p-0 font-weight-bold">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                                No puzzles to add
                        </p>
                    </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="row justify-content-end">
            {{> genericButton
                style="primary"
                action="games"
                icon="fa-arrow-left"
                text="Back to list"}}

             {{#if game}}
                {{> genericButton
                style="danger"
                entityType=type
                action="/delete"
                id=this.id
                icon="fa-trash"
                text="Delete"}}
            {{/if}}
            {{> submitButton entity=game}}
        </div>

    </form>
{{> footer year=2021}}