<div class="container">
    {{> header}}
        {{> viewTitle
        icon="fa-solid fa-puzzle-piece"
        name="Puzzle form"}}
    <form action="{{#if puzzle}}{{puzzle._id}}/sent{{else}}create/sent{{/if}}" method="POST" class="form p-3">
        <div class="row">
            <div class="col m-2">
                    <div class="mb-3 row justify-content-between">
                        <label for="name" class="form-label font-weight-bold">Name</label>
                        <input 
                            type="text" class="form-control"
                            id="name" name="name" maxlength="50"
                            {{#if puzzle}}
                            value={{ puzzle.name }} {{/if}}
                            required>
                    </div>
                    <div class="mb-3 row justify-content-between">
                        <label for="description" class="form-label font-weight-bold">Description</label>
                        <textarea 
                            class="form-control" id="description"
                            name="description" maxlength="250"
                        >{{#if puzzle}}{{ puzzle.description }} {{/if}}</textarea>
                    </div>

                    <div class="mb-3 row justify-content-between">
                        <label for="introVideo" class="form-label font-weight-bold">Intro Video URL</label>
                        <input type="text" class="form-control" id="introVideo" name="introVideo"
                        {{#if puzzle}}
                            value={{ puzzle.introVideo }} {{/if}}
                        >
                    </div>
                    <div class="mb-3 row justify-content-between">
                        <label for="endVideo" class="form-label font-weight-bold">End Video URL</label>
                        <input type="text" class="form-control" id="endVideo" name="endVideo" {{#if puzzle}}
                            value={{ puzzle.endVideo }} {{/if}}
                        >
                        </div>

            </div>
            <div class="col m-2">
            {{#if puzzle}}
                {{#if puzzle.tasks}}
                <label for="puzzles" class="form-label font-weight-bold">Associated Tasks</label>
                    {{#each puzzle.tasks}}
                    <p value="{{_id}}">{{name}}</p>
                    {{/each}}
                {{else}}
                <label for="puzzles" class="form-label font-weight-bold">Tasks selector</label>
                {{> neutralMessage text="No tasks added"}}
                {{/if}}
            {{/if}}
            {{#if tasks}}
            <div class="mb-3 row justify-content-between">
                <label for="tasks" class="form-label font-weight-bold">Select Tasks</label>
                <select id="tasks" name="tasks" class="custom-select mr-sm-2" multiple>
                    {{#each tasks}}
                    <option class="p-2" value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            {{else}}
            {{> neutralMessage text="No tasks to add"}}
            {{/if}}
            </div>
        </div>      
        <div class="row justify-content-end">
            {{> genericButton
                style="primary"
                entityType=type
                action="/list"
                id=this.id
                icon="fa-arrow-left"
                text="Back to list"}}

             {{#if puzzle}}
                {{> genericButton
                style="danger"
                action="puzzle/delete"
                id=this.id
                icon="fa-trash"
                text="Delete"}}
            {{/if}}
            {{> submitButton entity=puzzle}}
        </div>
    </form>
    {{> footer year=2021}}
</div>